DEBUG=True
SECRET_KEY=django_test_niveau1_pertim_2025_11_13_version2
POSTGRES_USER=<YOUR_POSTGRES_USER>
POSTGRES_PWD=<YOUR_POSTGRES_PASSWORD>
POSTGRES_HOST=postgresql_db
POSTGRES_INTERNAL_PORT=<YOUR_POSTGRESDB_INTERNAL_PORT>
POSTGRES_EXTERNAL_PORT=<YOUR_POSTGRESDB_EXTERNAL_PORT>
POSTGRES_DBNAME=<YOUR_POSTGRES_DATABASE_NAME>
