DEBUG=True or False
SECRET_KEY=<YOUR_DJANGO_SECRET_KEY>
POSTGRES_USER=<YOUR_POSTGRES_DB_USER>
POSTGRES_PWD=<YOUR_POSTGRES_DB_PASSWORD>
POSTGRES_HOST=postgresql_db
POSTGRES_INTERNAL_PORT=<YOUR_POSTGRES_DB_INTERNAL_PORT>
POSTGRES_EXTERNAL_PORT=<YOUR_POSTGRES_DB_EXTERNAL_PORT>
POSTGRES_DBNAME=<YOUR_POSTGRES_DB_NAME>